body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{
	margin:0;
	padding:0;
}
-html,body{
	width:100%;
}
body{
	font-family:"微软雅黑"
}
li{
	list-style: none;
}
a,u,del,s{
	text-decoration:none;
	color:#000;
}
a img{
	border:0;
}
i,em{
	font-style:normal;
}
b,th,strong{
	font-weight:normal;
	}
img{
	vertical-align:middle;
} 
table{
	border-collapse:collapse;
}
input,textarea{
	outline:none;
	border:0;
}

.clear:after{
	content:"";
	height:0;
	clear:both;
	overflow: hidden;
	display: block;
}
.clear{
	zoom: 1;
}
.cu{
	cursor:pointer;
}
.r{
	float:right;
}
.l{
	float:left;
}
.pl_1{
	position:relative;top:-1px;
	}
.pl_2{
	position:relative;top:-2px;
}

.over{
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.margin{
	height:100%;
	width:1190px;
	margin:0 auto;
}

.margin2{
	height:100%;
	width:990px;
	margin:0 auto;
}
